TMWalks/TMWalks.API/bin
TMWalks/TMWalks.API/obj
TMWalks/TMWalks.API/Images
TMWalks/TMWalker.UI/bin
TMWalks/TMWalker.UI/obj
TMWalks/TMWalker.UI/wwwroot/lib
TMWalks/TMWalks.API/Logs
TMWalks/TMWalks.API/publish
